$base-colors: (
  "black": #000000,
  "white": #ffffff,
  "transparent": transparent,
);

$main-colors: (
  //blue
  "blue-darkest": #02305d,
  "blue-darker": #1a5d9e,
  "blue-dark": #1773ce,
  "blue": #409eff,
  "blue-light": #65b2ff,
  "blue-lighter": #b3d9ff,
  "blue-lightest": #ecf5ff,
  // indigo
  "indigo-darkest": #272075,
  "indigo-darker": #332a99,
  "indigo-dark": #3f33bd,
  "indigo": #5a4fcf,
  "indigo-light": #837ae6,
  "indigo-lighter": #c2bdf6,
  "indigo-lightest": #f0eeff,
  // purple
  "purple-darkest": #3d065f,
  "purple-darker": #600a97,
  "purple-dark": #840dce,
  "purple": #aa38f2,
  "purple-light": #cc88f7,
  "purple-lighter": #e9cbfc,
  "purple-lightest": #f9f0fe,
  // pink
  "pink-darkest": #580020,
  "pink-darker": #930036,
  "pink-dark": #c9366c,
  "pink": #f06597,
  "pink-light": #f58eb4,
  "pink-lighter": #ffcddf,
  "pink-lightest": #ffebf2,
  // red
  "red-darkest": #750e12,
  "red-darker": #a9151a,
  "red-dark": #cc191f,
  "red": #e7393f,
  "red-light": #ed6d72,
  "red-lighter": #f8c5c7,
  "red-lightest": #fce8e8,
  // orange
  "orange-darkest": #854300,
  "orange-darker": #c06000,
  "orange-dark": #e77400,
  "orange": #ff8710,
  "orange-light": #ffb872,
  "orange-lighter": #ffe0c0,
  "orange-lightest": #fff3e7,
  // yellow
  "yellow-darkest": #6a5502,
  "yellow-darker": #b79303,
  "yellow-dark": #ddb104,
  "yellow": #facb0e,
  "yellow-light": #fde482,
  "yellow-lighter": #fef0bc,
  "yellow-lightest": #fef7db,
  // pear
  "pear-darkest": #4f560c,
  "pear-darker": #7f8a13,
  "pear-dark": #9eac18,
  "pear": #becf1d,
  "pear-light": #dde965,
  "pear-lighter": #f4f8cc,
  "pear-lightest": #fbfdee,
  // green
  "green-darkest": #206120,
  "green-darker": #2f8d2f,
  "green-dark": #39ab39,
  "green": #49c249,
  "green-light": #89e089,
  "green-lighter": #dcf3dc,
  "green-lightest": #eaf8ea,
  // mint
  "mint-darkest": #136b44,
  "mint-darker": #1da569,
  "mint-dark": #23c67e,
  "mint": #35db92,
  "mint-light": #89eabf,
  "mint-lighter": #dcf9ec,
  "mint-lightest": #f2fcf7,
  // teal
  "teal-darkest": #225960,
  "teal-darker": #2d747d,
  "teal-dark": #378e99,
  "teal": #42a9b6,
  "teal-light": #95d1d9,
  "teal-lighter": #ddf0f3,
  "teal-lightest": #edf9fa,
  // wine
  "wine-darkest": #481e23,
  "wine-darker": #722f37,
  "wine-dark": #8e3a44,
  "wine": #aa4652,
  "wine-light": #d2939a,
  "wine-lighter": #efd8db,
  "wine-lightest": #faf3f4,
  // brown
  "brown-darkest": #3d2f2b,
  "brown-darker": #54413b,
  "brown-dark": #6b534c,
  "brown": #8d6d64,
  "brown-light": #c8b7b2,
  "brown-lighter": #e9e2e0,
  "brown-lightest": #fff9f7,
  // almond
  "almond-darkest": #634120,
  "almond-darker": #8a5b2c,
  "almond-dark": #ad7237,
  "almond": #c48647,
  "almond-light": #dcb792,
  "almond-lighter": #efdecd,
  "almond-lightest": #f9f0e8,
  // slategray
  "slategray-darkest": #05192d,
  "slategray-darker": #102c45,
  "slategray-dark": #2f5070,
  "slategray": #517495,
  "slategray-light": #96b1cb,
  "slategray-lighter": #d0dce7,
  "slategray-lightest": #f2f5f7,
  // gray colors
  "gray-darkest": #36454f,
  "gray-darker": #465966,
  "gray-dark": #566e7e,
  "gray": #668295,
  "gray-light": #b7c4cd,
  "gray-lighter": #e4e8eb,
  "gray-lightest": #eef1f5
) !default;

$all-colors: map-merge($base-colors, $main-colors);

$gradient-colors: (
  "blue",
  "indigo",
  "gray",
  "purple",
  "pink",
  "red",
  "orange",
  "yellow",
  "pear",
  "green",
  "mint",
  "teal",
  "slategray",
  "brown",
  "wine",
  "almond"
) !default;
$shadow-colors: (
  "blue",
  "indigo",
  "gray",
  "purple",
  "pink",
  "red",
  "orange",
  "yellow",
  "pear",
  "green",
  "mint",
  "teal",
  "slategray",
  "brown",
  "wine",
  "almond"
) !default;
