// Colors
$primary-color: white;
$secondary-color: #6c757d;

$white: #ffffff;
$black: #2e3440;

$green: #6ee7b7;
$green2: #5cb270;
$blue: #3b82f6;
$purple: #9333ea;

//White
$w1: #fffafa;
$w2: #9a8c98;
$w3: #c9ada7;
$w4: #e5e5e5;
$w5: #faf9f6;
$w6: #eeeeff;

$m1: #cbf3f0;
$m2: #2ec4b6;

$y1: #ff9f1c;
$y2: #ffbf69;

//  Collection one
$federal-blue: hsla(239, 94%, 19%, 1);
$marian-blue: hsla(214, 97%, 27%, 1);
$honolulu-blue: hsla(201, 100%, 36%, 1);
$blue-green: hsla(195, 100%, 39%, 1);
$pacific-cyan: hsla(190, 100%, 42%, 1);
$vivid-sky-blue: hsla(190, 74%, 59%, 1);
$non-photo-blue: hsla(189, 75%, 75%, 1);
$non-photo-blue-2: hsla(190, 76%, 82%, 1);
$light-cyan: hsla(190, 77%, 88%, 1);

//collection 2
$melon: hsla(9, 97%, 86%, 1);
$pale-dogwood: hsla(9, 88%, 90%, 1);
$misty-rose: hsla(8, 74%, 92%, 1);
$seashell: hsla(9, 48%, 95%, 1);
$platinum: hsla(60, 8%, 90%, 1);
$platinum-2: hsla(144, 15%, 87%, 1);
$linen: hsla(32, 31%, 89%, 1);
$champagne-pink: hsla(19, 100%, 93%, 1);
$apricot: hsla(25, 100%, 86%, 1);
$peach: hsla(28, 98%, 80%, 1);

// Shade of white
$SnowWhite: #fffafa;
$OrangeWhite: #f8f9f5;
$LinenColor: #faf0e6;
$WhiteSmoke: #f5f5f5;
$PlatinumColor: #e5e4e2;
$HoneydewColor: #f0fff0;
$VanillaWhite: #fffafa;
$ChiffonColor: #fffacd;
$SeashellColor: #fff5ee;
$OldLaceColor: #fffafa;
$TitanWhite: #eeeeff;
$KittenWhite: #f8f8ff;
$MistyRoseColor: #ffe4e1;
$MistyRoseColorb: #ffe4e1;

$GhostColor: #f8f8ff;
$LinkWater: #ecf3f9;
$CupCake: #ebf6f7;
$SoftPeach: #f6f1f4;
$IslandSpice: #fffcec;
$AudienceAnger: #eaf4fc;
$Ivory: #fdfff5;
$OldWood: #f0eee4;
$Spring: #f3f0e8;
$HappyTan: #ebf5f0;
$Peppermint: #f1f9ec;
$UnresolvedProblem: #f3f2ed;
$Merino: #f3f2ed;

$d1: #2b2d42;
$d2: #41403e;

$b1: #24262b;

// aurora
$a1: #bf616a;
$a2: #d08770;
$a3: #ebcb8b;
$a4: #a3be8c;
$a5: #b48ead;
$a6: #5e81ac;
$r1: #e76f51;
$r2: #e91e63;

// Fonts
$body-font: "Poppins", sans-serif;

$base-font-size: 16;

$small-font-size: $base-font-size * 0.875; // 14px
$normal-font-size: $base-font-size; // 16px
$large-font-size: $base-font-size * 1.25; // 20px

// Spacing
$spacing-unit: 1rem;
